body {
  background: skyblue;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.row{
  margin: 0;
}

.weather-container{
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  padding: 0;
}

canvas{
  width: 60%;
  height: auto;
}

.icon-size{
  width: 20%;
  height: auto;
  float: left;
}

.dailyTitle{
  text-align: center;
}