
body {
  background: skyblue;
}

.row{
  margin: 0;
}

.main{
  background-color: rgba(0,0,0,0.3);
  min-height: 100vh;
  padding: 0;
}

.welcome{
  margin-top: 0;
  padding-top: 0%;
}

canvas{
  width: 100%;
}